body {
.bottle-button {
  
  background-image: url("Drink Me Potion.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  

  width: 400px;
  height: 800px; 
  cursor: pointer;
}
}